
<div class="jumbotron">
  <h1>Code Racer</h1>

  <H1 class="element"></H1><br />
  <p>Get stuck into the typing app for developers.</p>
  <div>
    <button class="btn btn-success"><%= link_to "Sign Up", new_user_path %></button>
    <button class="btn btn-default"><%= link_to "Sign In", new_session_path %></button>
  </div>
</div>
