
<h2>Sample Code</h2>
<div id="timer"></div>
<pre><div id="current-script">
<%#= render "code.json.erb" %>
</div>
</pre>

<form>
  <textarea class="script-input"></textarea>
</form>

<button class="btn btn-default submit">Submit</button>

<div class="output"></div>
