
<h2>Sample Code</h2>
<div id="timer"></div>
<div id="current-script"><pre>
<%= render "code.json.erb" %>
</pre></div>

<form>
  <textarea class="script-input"></textarea>
</form>

<button class="btn btn-default submit">Submit</button>

<div class="output"></div>
