<div class="row">
  <div class="code-title col-md-8"><h2>Sample Code</h2>
  </div>
  <div class="col-md-4">
    <h3>Time: <span id="timer">&nbsp<span></h3>
  </div>
</div>
<pre id="current-script">
<%#= render "code.json.erb" %>
</pre>

<form>
  <textarea class="script-input"></textarea>
</form>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg submit" data-toggle="modal" data-target="#modal">
Done!</button>

<!--modal-->
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Code Race Results</h4>
      </div>
      <div class="modal-body">
        <p>Your Scores:</p>
        <p>Speed: <span id="wpm"></span></p>
        <p>Accuracy: <span id="errorRate"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss" data-dismiss="modal">
          <i class="glyphicon glyphicon-repeat"></i> Once Again Into the Breach!
        </button>
        <button type="button" class="btn btn-default">
          <i class="glyphicon glyphicon-object-align-bottom"></i> <%= link_to "Check Your Progress", user_path %>
        </button>
      </div>
    </div>

  </div>
</div>
