/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  color:white;
  background-color: #2C2A2E;
}

nav a{
  color:white;
}

.current-script{
   width:75%;
   margin:auto;
 }

.script-input{
 color:black;
 width:100%;
 height:200px;
 margin:auto;
}

.active{
 text-decoration: underline;
}

.green{
  background-color: rgba(0, 255, 0, 0.3);
}

.red{
  background-color: rgba(255, 0, 0, 0.3);
}

//for the typed.js plugin

.element{
 font-size:3em;
}

.typed-cursor{
   font-size:3em;
   opacity: 1;
   -webkit-animation: blink 0.7s infinite;
   -moz-animation: blink 0.7s infinite;
   animation: blink 0.7s infinite;
}
@keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}
@-webkit-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}
@-moz-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}
//end of typed.js css

.jumbotron{
  color:black;
  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #7F758A),
	color-stop(1, #E4E1E8)
);
  background-image: -o-linear-gradient(bottom, #7F758A 0%, #E4E1E8 100%);
  background-image: -moz-linear-gradient(bottom, #7F758A 0%, #E4E1E8 100%);
  background-image: -webkit-linear-gradient(bottom, #7F758A 0%, #E4E1E8 100%);
  background-image: -ms-linear-gradient(bottom, #7F758A 0%, #E4E1E8 100%);
  background-image: linear-gradient(to bottom, #7F758A 0%, #E4E1E8 100%);
}

nav .btn-default{
  background-color:grey;
}

.modal{
  color:black;
}
